{% extends "admin.html.twig" %}
{% block title %}Editar senha{% endblock %}

{% block content %}
<div class="container mt-6">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header justify-content-between">
                    <h3 class="card-title">Editar senha</h3>
                </div>
                <div class="card-body">
                    <form id="user-form" action="/user/update-password" method="post" data-send>
                        <input type="hidden" name="id" value="{{ current.id }}">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Nova senha</label>
                                    <input type="password" required class="form-control" name="password">
                                </div>
                            </div>
                            {% if not helper.role.isAdmin(user) or user.id == current.id %}
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Senha atual</label>
                                    <input type="password" required class="form-control" name="old_password">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </form>

                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="submit" form="user-form"><i class="fe fe-save"></i> Salvar</button>
                    {% if current.id is not null %}
                        <a href="/admin/user/{{ current.id }}" class="btn btn-primary"><i class="fe fe-edit"></i> Editar usuário</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}